.secondary {
  display: flex;
  flex: 2;
  padding: 0;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  text-align: center;
  animation: div-fade-in 2s;
}
.image {
  box-sizing: border-box;
  margin: 20px;

  img {
    border-radius: 10px;
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;

  ul {
    list-style: none;

    li {
      margin: 3px;

      a:hover {
        border-bottom: 1px dashed #888;
      }
    }
  }
}
